h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

label {
  border-bottom: 2px solid #cccccc;
  margin-bottom: 10px;
}

.textBox {
  display: flex;
  flex-flow: column;
}

.boxes {
  display: flex;
  justify-content: space-around;
}
